<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body class="container">

<table class="table table-striped table-bordered ">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
    </tr>

    <tr th:each="user : ${users}">
        <td class="align-middle" th:text="${user.id}"></td>
        <td class="align-middle" th:text="${user.name}"></td>
        <td class="align-middle" th:text="${user.fullName}"></td>
        <td class="align-middle text-center"><a class="btn btn-secondary" th:href="'/users/' + ${user.id}">✏</a></td>
    </tr>
</table>
</body>
</html>